@*John Berthelsen*@
@{
    ViewData["Title"] = "Add New Task";
}

@model Mission6.Models.TaskResponse

<h1>Add a New Task!</h1>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="TaskDescription">Task</label><br />
        <input asp-for="TaskDescription" required /><br /><br />

        <label asp-for="DueDate">Due Date</label><br />
        <input asp-for="DueDate" /><br /><br />

        <label asp-for="Quadrant">Quadrant</label><br />
        <select asp-for="Quadrant" required>
            <option value=1>I</option>
            <option value=2>II</option>
            <option value=3>III</option>
            <option value=4>IV</option>
        </select><br /><br />

        <label asp-for="CategoryId">Category:</label><br />
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br /><br />

        <label asp-for="Completed">Completed</label><br />
        <input asp-for="Completed" /><br /><br />

        <button type="submit">Submit</button>

    </form>
</div>