@*John Berthelsen*@
@{
    ViewData["Title"] = "Add New Task";
}

@model Mission6.Models.TaskResponse

<h1>Add a New Task!</h1>

<div>
    <form method="post">

        @*<div asp-validation-summary="All"></div>

        <label asp-for="Task">Task</label><br />
        <input asp-for="Task" required /><br /><br />

        <label asp-for="DueDate">Due Date</label><br />
        <input asp-for="DueDate" /><br /><br />

        <label asp-for="Quadrant">Quadrant</label><br />
        <input asp-for="Quadrant" required /><br /><br />

        <label asp-for="Category">Category</label><br />
        <input asp-for="Category" /><br /><br />

        <label asp-for="Completed">Completed</label><br />
        <input asp-for="Completed" /><br /><br />

        <button type="submit">Submit</button>*@

    </form>
</div>