@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The 7 Habits of Highly Effective People</h1>
    <h2>
        "Put First Things First" by adding and viewing your daily tasks!
    </h2>
    <p>
        In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of
        “Putting First Things First”, and suggests that Tasks on the To Do list be broken out into four
        Quadrants.
    </p>
    <ul style="text-align: left; margin-bottom: 30px; margin-left: 220px; ">
        <li>Quadrant I: Important / Urgent</li>
        <li>Quadrant II: Important / Not Urgent</li>
        <li>Quadrant III: Not Important / Urgent</li>
        <li>Quadrant IV: Not Important / Not Urgent</li>
    </ul>
    <img src="~/img/matrix.png" />
</div>